<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Panel</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <h2>Admin Panel</h2>
        <a href="/products" class="btn btn-info">List Products</a>
        <a href="/products/form" class="btn btn-info">Insert new product</a>
        <a href="/flash-sales/form" class="btn btn-info">Create flash sale</a>
    </body>
</html>